<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of philiagus/parser
  ~
  ~ (c) Andreas Bittner <philiagus@philiagus.de>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
>
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Parser Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
