<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of philiagus/parser
  ~
  ~ (c) Andreas Bittner <philiagus@philiagus.de>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Parser Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>